---
---

@import "{{ site.theme }}";
a {
    color: #007BFF; /* Default link color */
}

a:hover {
    color: #FF5733; /* Hover link color */
}

a.active {
    font-weight: bold;
    color: #FF5733; /* Active link color */
}
