---
---

@import "{{ site.theme }}";

/* Custom link colors */
a {
    color: #007BFF; /* Default link color */
}

a:hover {
    color: #0056B3; /* Hover color */
}

a.active {
    font-weight: bold;
    color: #0056B3; /* Active color */
}
