<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
    <div class="wrapper">
      <header style="text-align: center; margin-bottom: 20px;">
      <h1 style="margin-bottom: 10px;">
        <a href="https://levipulford.github.io/portfolio/" style="text-decoration: none; color: inherit;">Levi Pulford</a>
    </h1>
    <div style="display: flex; justify-content: center; gap: 30px; font-size: 18px;">
        <a href="/portfolio/about.md">About</a>
        <a href="portfolio/resume.md">Resume</a>
        <a href="/portfolio/contact.md">Contact</a>
    </div>
</header>
        <section>
            {{ content }}
        </section>
        <footer>
            <!-- Optional footer content -->
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
